<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C+R Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>All the Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {% for user in all_users %}
            <tr>
                <th>{{user.id}}</th>
                <th>{{user.first_name}} {{user.last_name}}</th>
                <th>{{user.email_address}}</th>
                <th>{{user.age}}</th>
            </tr>
        {% endfor %}

    </table>

    <h1>Add a User</h1>
    <form action="/process_data/" method="POST">
        {% csrf_token %}
        <table id="input_table">
            <tr class="input_row">
                <th><label>First Name</th><th><input type="text" name="first_name"></label></th>
                <th><label>Last Name</th><th><input type="text" name="last_name"></label></th>
            </tr>
            <tr class="input_row">
                <th><label>Email</th><th><input type="text" name="email_address"></label></th>
                <th><label>Age</th><th><input type="text" name="age"></label></th>
            </tr>

        </table>
        <!-- <div class="input_row">
        </div>
        <div class="input_row">
        </div> -->
        
        <input id="submit" type="submit" value="Submit">

    </form>

    
</body>
</html>